.navbar-inverse {
    background-color: #772953;
    border-color: #772953;
    border-radius: 0;
}

.navbar-inverse .navbar-brand {
    color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffee;
}

.navbar-inverse .navbar-text {
    color: #ffffee;
}

.navbar-title {
    width: 80px;
    height: 50px;
    padding: 5px;
    margin-top: -15px;
    margin-bottom: -5px;
    margin-right: 5px;
}